<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${entity.name} + ' - Reviewer'"></title>
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
    <div class="content">
        <h1 th:text="${entity.name}"></h1>
        <div class="two-items">
            <div style="margin-right: 30px">
                <img class="img-fluid" th:src="@{/images/entity/{imageURL}(imageURL=${entity.imageURL})}"><br><br>
                <div>
                    <p th:if="${user != null && (user.isAdmin() || user.isModerator())}">
                        <a class="btn btn-primary" th:href="@{/entity/edit/{id}(id=${entity.id})}"
                           th:text="'Редактировать'"></a>
                        <a class="btn btn-primary" th:href="@{/entity/delete/{id}(id=${entity.id})}"
                           th:text="'Удалить'"></a>
                        <a class="btn btn-primary" th:href="@{/entity/block/{id}(id=${entity.id})}"
                           th:if="${entity.visible}"
                           th:text="'Заблокировать'"></a>
                        <a class="btn btn-primary" th:href="@{/entity/block/{id}(id=${entity.id})}"
                           th:text="'Разблокировать'"
                           th:unless="${entity.visible}"></a>
                    </p>
                    <a class="btn btn-primary" th:href="@{/entity/report/{id}(id=${entity.id})}"
                       th:text="'Пожаловаться'"></a>
                </div>
            </div>
            <div>
                <b th:text="${entity.type.name}"></b>
                <div th:if="${parentEntity != null}">
                    <b>Подчиняется: </b>
                    <a th:href="@{/entity/{id}(id=${parentEntity.id})}" th:if="${parentEntity != null}"
                       th:text="${parentEntity.name}"></a>
                </div>
                <div th:if="${head != null}">
                    <b th:text="${headName} + ': '"></b><a th:href="@{/employee/{id}(id=${head.id})}"
                                                           th:text="${head.name}"></a>
                </div>
                <b>Адрес: </b><span th:text="(${entity.address != null} ? ${entity.address} : '') + ', ' +
                            ${entity.district.name} + ' район, ' + ${entity.district.getRegion().name} + ' область, ' + ${entity.country != null ? entity.country.name : ''}"></span>
                <div th:if="${entity.siteURL != null}">
                    <b>Сайт: </b><a target="_blank" th:href="@{//{site}(site=${entity.siteURL})}"
                                    th:text="${entity.siteURL}"></a>
                </div>
                <br><br>
                <b>Рейтинг: </b><span th:text="${entity.getAverageRating()}"></span><br>
                <b>Отзывов: </b><span th:text="${entity.reviewsAmount} + ' от ' + ${entity.peopleInvolved} + ' авторов'"></span>
            </div>
        </div>

        <div style="margin-bottom: 10px" th:unless="${childEntities.isEmpty()}">
            <input class="hidden" id="hd-1" type="checkbox"/>
            <label for="hd-1">Нажмите здесь, чтобы увидеть список факультетов</label>
            <div>
                <div th:each="entity : ${childEntities}">
                    <a th:href="@{/entity/{id}(id=${entity.getId()})}"
                       th:text="${entity.name}"></a>
                </div>
            </div>
        </div>

        <div style="margin-top: 10px" th:unless="${employees.isEmpty()}">
            <input class="hidden" id="hd-2" type="checkbox"/>
            <label for="hd-2">Нажмите здесь, чтобы увидеть список сотрудников</label>
            <div>
                <div th:each="employee : ${employees}">
                    <a th:href="@{/employee/{id}(id=${employee.getId()})}"
                       th:text="${employee.name} + ' - ' + ${employee.type.name}"></a>
                </div>
            </div>
        </div>
        <br>

        <div th:if="${success != null}" class="alert alert-dismissible alert-success">
            <p th:text="${success}"></p>
        </div>
        <div th:if="${error != null}" class="alert alert-dismissible alert-secondary">
            <p th:text="${error}"></p>
        </div>

        <div th:if="${user == null}" class="alert alert-dismissible alert-warning">
            <p class="mb-0"><a th:href="@{/login(redirect = ${#request.getRequestURI().substring(1)})}"
                   th:text="'Войдите в аккаунт'"></a>, чтобы иметь возможность оставить свой
                отзыв, либо проголосовать за существующие.</p>
        </div>

        <div th:if="${user != null}">
            <div th:if="${!user.hasRole(entity.id)}" class="alert alert-dismissible alert-warning">
                <p class="mb-0">Отзывы, оставляемые <a th:href="@{/account/roles}"
                                                       th:text="'без подтверждения своей роли'"></a> в
                    учреждении образования будут помечены как "Неподтвержденные",
                    после подтверждения связи с учреждением образования отзывы будет помечены как
                    "Подтвержденные"</p>
            </div>
            <div th:insert="blocks/review :: left-entity-review(e = ${entity}, roles = ${roles})"></div>
        </div>

        <div th:insert="blocks/review :: show-entity-reviews(entity=${entity})"></div>
        <br>
        <div th:unless="${reviews.isEmpty()}">
            <h4>Отзывы:</h4>
            <div class="reviews" th:each="review : ${reviews}">
                <div th:insert="blocks/review :: entity-review(r = ${review})"></div>
            </div>
        </div>
        <div th:if="${reviews.isEmpty()}" class="alert alert-dismissible alert-light">
            <h4>Отзывов еще нет.</h4>
        </div>
    </div>
<div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>