<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${entity.name} + ' - Reviewer'"></title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">
                <p th:text="${entity.name}"></p>
            </div>
            <div class="content">
                <div class="two-items">
                    <div style="margin-right: 30px">
                        <img class="entity-page" th:src="@{/images/entity/{imageURL}(imageURL=${imageURL})}">
                        <p th:if="${user != null && (user.isAdmin() || user.isModerator())}">
                            <a th:href="@{/entity/edit/{id}(id=${entity.id})}" th:text="'Редактировать'"></a>
                            <a th:href="@{/entity/delete/{id}(id=${entity.id})}" th:text="'Удалить'"></a>
                        </p>
                    </div>
                    <div>
                        <p th:text="${entity.type.name}"></p>
                        <p th:text="'Адрес: ' + (${entity.address != null} ? ${entity.address} : '') + ', ' +
                            ${entity.district.name} + ' район, ' + ${entity.district.getRegion().name} + ' область'"></p>
                        <div th:if="${entity.siteURL != null}">
                            Сайт: <a target="_blank" th:href="@{//{site}(site=${entity.siteURL})}"
                                     th:text="${entity.siteURL}"></a>
                        </div>
                        <br><br>
                        <p th:text="'Рейтинг: ' + ${entity.getAverageRating()}"></p>
                        <p th:text="'Отзывов оставлено: ' + ${entity.reviewsAmount}"></p>
                        <p th:text="${entity.peopleInvolved} + ' людей написали эти отзывы'"></p>
                    </div>
                </div>

                <div style="margin-bottom: 10px" th:unless="${childEntities.isEmpty()}">
                    <input class="hidden" id="hd-1" type="checkbox"/>
                    <label for="hd-1">Нажмите здесь, чтобы увидеть список факультетов</label>
                    <div>
                        <div th:each="entity : ${childEntities}">
                            <a th:href="@{/entity/{id}(id=${entity.getId()})}"
                               th:text="${entity.name}"></a>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 10px" th:unless="${employees.isEmpty()}">
                    <input class="hidden" id="hd-2" type="checkbox"/>
                    <label for="hd-2">Нажмите здесь, чтобы увидеть список сотрудников</label>
                    <div>
                        <div th:each="employee : ${employees}">
                            <a th:href="@{/employee/{id}(id=${employee.getId()})}"
                               th:text="${employee.name} + ' - ' + ${employee.type.name}"></a>
                        </div>
                    </div>
                </div>

                <p class="success" th:text="${success}"></p>
                <p class="error" th:text="${error}"></p>

                <div th:if="${user == null}">
                    <h4><a th:href="@{/login(redirect = ${#request.getRequestURI().substring(1)})}" th:text="'Войдите в аккаунт'"></a>, чтобы иметь возможность оставить свой
                        отзыв, либо проголосовать за существующие.</h4>
                </div>
                <div th:if="${user != null}">
                    <div th:if="${user.hasRole(entity.id)}">
                        <div th:insert="blocks/review :: left-entity-review(e = ${entity}, roles = ${roles})"></div>
                    </div>
                    <div th:unless="${user.hasRole(entity.id)}">
                        <h4>Отзывы могут оставлять только пользователи, которые <a th:href="@{/account/roles}"
                                                                                   th:text="'подтвердили свою связь'"></a>
                            с
                            этим учреждением образования.</h4>
                    </div>
                </div>
                <div>
                    <form method="get" th:href="@{/entity/{id}(id=${entity.id})}">
                        <label for="mark">Оценки: </label>
                        <select name="mark" id="mark">
                            <option th:text="'Не выбрано'" th:value="0"></option>
                            <option th:each="i : ${#numbers.sequence(1, 5)}" th:text="${i}" th:value="${i}" th:selected="${i eq mark}"></option>
                        </select><br><br>
                        <button>Показать</button>
                    </form>
                </div>
                <div th:unless="${reviews.isEmpty()}">
                    <h4>Отзывы:</h4>
                    <div class="reviews" th:each="review : ${reviews}">
                        <div th:insert="blocks/review :: entity-review(r = ${review})"></div>
                    </div>
                </div>
                <div th:if="${reviews.isEmpty()}">
                    <h4>Отзывов еще нет.</h4>
                </div>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>