<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${entity.name} + ' - Reviewer'"></title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">
                <p th:text="${entity.name}"></p>
            </div>
            <div class="content">
                <div class="two-items">
                    <div style="margin-right: 30px">
                        <img class="entity-page" th:src="@{/images/entity/{imageURL}(imageURL=${imageURL})}">
                    </div>
                    <div>
                        <p th:text="${entity.type.name}"></p>
                        <p th:text="'Адрес: ' + (${entity.address != null} ? ${entity.address} : '') + ', ' +
                            ${entity.district.name} + ' район, ' + ${entity.district.getRegion().name} + ' область'"></p>
                        <div th:if="${entity.siteURL != null}">
                            Сайт: <a target="_blank" th:href="@{//{site}(site=${entity.siteURL})}"
                                     th:text="${entity.siteURL}"></a>
                        </div>
                        <br><br>
                        <p th:text="'Рейтинг: ' + ${entity.getAverageRating()}"></p>
                        <p th:text="'Отзывов оставлено: ' + ${entity.reviewsAmount}"></p>
                        <p th:text="${entity.peopleInvolved} + ' людей написали эти отзывы'"></p>
                    </div>
                </div>

                <div th:unless="${employees.isEmpty()}">
                    <input class="hidden" id="hd-1" type="checkbox"/>
                    <label for="hd-1">Нажмите здесь, чтобы увидеть список сотрудников</label>
                    <div>
                        <div th:each="employee : ${employees}">
                            <a th:href="@{/employee/{id}(id=${employee.getId()})}"
                               th:text="${employee.name} + ' - ' + ${employee.type.name}"></a>
                        </div>
                    </div>
                </div>

                <div th:unless="${reviews.isEmpty()}">
                    <h4>Отзывы:</h4>
                    <div class="reviews" th:each="review : ${reviews}">
                        <div th:insert="blocks/review :: entity-review(r = ${review})"></div>
                    </div>
                </div>
                <div th:if="${reviews.isEmpty()}">
                    <h4>Отзывов еще нет.</h4>
                </div>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>