<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск сотрудников - Reviewer</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">Поиск по запросу "<span th:text="${param.query}">"</span></div>
            <div class="content">
                <div class="search" th:insert="blocks/search :: search-employee(value=${param.query})"></div>
                <div th:insert="blocks/table :: employee-table(employees=${employees}, page=${page})"></div>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>