<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск сотрудников - Reviewer</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">Поиск по запросу "<span th:text="${param.query}">"</span></div>
            <div class="content">
                <div class="search" th:insert="blocks/search :: search-employee(value=${param.query})"></div>
                <table>
                    <thead>
                    <tr>
                        <td>№</td>
                        <td>Фотография</td>
                        <td>Рейтинг</td>
                        <td>ФИО</td>
                        <td>Статус</td>
                        <td>Учреждение образования</td>
                    </tr>
                    </thead>
                    <div th:each="employee, iter : ${employees}">
                        <tr>
                            <td><span th:text="${iter.count}"></span></td>
                            <td><img class="employee-rating"
                                     th:src="@{/images/employee/{imageURL}(imageURL = ${employee.imageURL == null ? 'default.jpg' : employee.imageURL})}">
                            </td>
                            <td><span th:text="${employee.getAverageRating()}"></span></td>
                            <td><a th:href="@{/employee/{id}(id = ${employee.id})}" th:text="${employee.name}"></a>
                            </td>
                            <td><span th:text="${employee.type.name}"></span></td>
                            <td><a th:href="@{/entity/{id}(id = ${employee.entity.id})}"
                                   th:text="${employee.entity.name}"></a></td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>