<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Жалоба на отзыв - Reviewer</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
    <div class="content">
        <h1>Жалоба на отзыв</h1>

        <div th:if="${success != null}" class="alert alert-dismissible alert-success">
            <p th:text="${success}"></p>
        </div>

        <div th:insert="blocks/review :: entity-review(r = ${review})"></div>

        <p><a th:href="@{/entity/{id}(id=${review.entity.id})}"
              th:text="'Перейти к учреждению образования'"></a></p>

        <form id="report" method="post" th:action="@{/reviews/report/entity-review/{id}(id=${review.id})}">
            <fieldset>
                <div class="form-group">
                    <label for="theme" class="form-label mt-4">Причина</label>
                    <select class="form-select" id="theme" name="theme" required>
                        <option th:each="type : ${types}" th:text="${type.name}" th:value="${type}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="text" class="form-label mt-4">Ваше сообщение</label><br>
                    <textarea class="form-control" id="text" name="text" style="width: 90%; height: 150px; resize: none;"></textarea>
                </div>
            </fieldset>
            <br>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>