<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить роль - Reviewer</title>
</head>
<body>
<div class="container">
    <div th:insert="blocks/header :: header"></div>
    <div class="content">
        <h1>Аккаунт</h1>
        <div class="account">
            <div th:insert="${session.user.isAdmin() || session.user.isModerator()}? ~{blocks/account-menu :: account-menu-admin} : ~{blocks/account-menu :: account-menu-user}"></div>
            <div class="account-content">
                <p> Для получения возможности оставлять подтвержденные отзывы Вам необходимо получить роль, подтвердив
                    ее
                    документом с места работы или учебы. </p>
                <p>В качестве документа может подойти:</p>
                <li>Справка об обучении в УО (с именем владельца, выбранным при регистрации)</li>
                <li>Пропуск в учебное заведение (с именем владельца, выбранным при регистрации)</li>
                <li>Фотография первой страницы дневника (с именем владельца, выбранным при регистрации)</li>
                <li>Скриншот личного кабинета <a th:href="@{schools.by}" target="_blank">schools.by</a> (с именем
                    владельца, выбранным при регистрации)
                </li>
                <br>
                <p>Вы уже отправили <b th:text="${requestAmount}"></b> документов. Они будут рассмотрены в скором
                    времени.</p>
                <p><b>Допустимые типы фото:</b> .png, .jpeg, .jpg. </p>
                <p><b>Максимально допустимый размер файла:</b> 8 MB</p>

                <div th:if="${success != null}" class="alert alert-dismissible alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${error != null}" class="alert alert-dismissible alert-secondary">
                    <p th:text="${error}"></p>
                </div>

                <form enctype="multipart/form-data" method="post" th:action="@{/account/roles/add}">
                    <fieldset>
                        <div class="form-group">
                            <label for="name" class="form-label mt-4">Введите название учреждения образования</label>
                            <input class="form-control" id="name" name="name" required th:value="${name}" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="role" class="form-label mt-4">Выберите Вашу роль в данном учреждении
                                образования:</label>
                            <select class="form-select" id="role" name="role" required>
                                <option th:each="role : ${roles}" th:value="${role}" th:text="${role.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="file" class="form-label mt-4">Выберите фотографию документа:</label>
                            <input class="form-control" id="file" name="file" required type="file">
                        </div>
                    </fieldset>
                    <br>
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </form>
            </div>
        </div>
        <div th:insert="blocks/footer :: footer"></div>
    </div>
</div>
</body>
</html>