<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить роль - Reviewer</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">
                Аккаунт
            </div>
            <div class="account">
                <div th:insert="${session.user.isAdmin() || session.user.isModerator()}? ~{blocks/account-menu :: account-menu-admin} : ~{blocks/account-menu :: account-menu-user}"></div>
                <div class="account-content">
                    <p> Для получения возможности оставлять отзывы Вам необходимо получить роль, подтвердив ее
                        документом с места работы или учебы. </p>
                    <p>В качестве документа может подойти:
                    <li>Справка об обучении в УО (с именем владельца, выбранным при регистрации)</li>
                    <li>Пропуск в учебное заведение (с именем владельца, выбранным при регистрации)</li>
                    <li>Фотография первой страницы дневника (с именем владельца, выбранным при регистрации)</li>
                    <li>Скриншот личного кабинета <a th:href="@{schools.by}" target="_blank">schools.by</a> (с именем владельца, выбранным при регистрации)</li>
                    </p>
                    <p>Вы уже отправили <b th:text="${requestAmount}"></b> документов. Они будут рассмотрены в скором
                        времени.</p>
                    <p><b>Допустимые типы фото:</b> .png, .jpeg, .jpg. </p>
                    <p><b>Максимально допустимый размер файла:</b> 8 MB</p>
                    <form enctype="multipart/form-data" method="post" th:action="@{/account/roles/add}">
                        <label for="name">Введите название учреждения образования</label><br><br>
                        <input id="name" name="name" required th:value="${name}" type="text"/><br><br>
                        <label for="role">Выберите Вашу роль в данном учреждении образования:</label><br><br>
                        <select id="role" name="role" required>
                            <option value="student">Учащийся</option>
                            <option value="former_student">Выпускник</option>
                            <option value="employee">Сотрудник</option>
                            <option value="former_employee">Бывший сотрудник</option>
                        </select><br><br>
                        Выберите фотографию документа: <input name="file" required type="file">
                        <br><br>
                        <button>Загрузить</button>
                    </form>
                    <p class="success" th:text="${success}"></p>
                    <p class="error" th:text="${error}"></p>
                </div>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>