<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора - Reviewer</title>
</head>
<body>
<div class="container">
    <div th:insert="blocks/header :: header"></div>
    <div class="content">
        <h1>Панель администратора</h1>
        <div class="account">
            <div th:insert="${session.user.isAdmin()}? ~{blocks/account-menu-admin :: account-menu-admin} : ~{blocks/account-menu-moderator :: account-menu-moderator}"></div>
            <div class="account-content">
                <p>Вы попали на страницу управления сайтом.</p>
                <p>Как <b>Администратору</b> Вам доступен весь функционал взаимодействия с сайтом.</p>
                <p>Как <b>Модератору</b> Вам доступен весь функционал взаимодействия с сайтом за исключением
                    создания пользователей и изменения настроек сайта.</p>

                <div th:if="${success != null}" class="alert alert-dismissible alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${error != null}" class="alert alert-dismissible alert-secondary">
                    <p th:text="${error}"></p>
                </div>

                <h4>Администраторы сайта:</h4>
                <li th:each="user : ${admins}"><a
                        th:href="@{/account/admin/edit-user/{login}(login = ${user.login})}"
                        th:text="${user.login} + '(' + ${user.name} + ')'"></a></li>
                <h4>Модераторы сайта:</h4>
                <li th:each="user : ${moderators}"><a
                        th:href="@{/account/admin/edit-user/{login}(login = ${user.login})}"
                        th:text="${user.login} + '(' + ${user.name} + ')'"></a></li>
            </div>
        </div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>