<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рейтинг учреждений образования - Reviewer</title>
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
    <div class="content">
        <h1>Рейтинг учреждений образования</h1>
        <form>
            <fieldset>
                <div class="form-group">
                    <label for="entityType" class="form-label mt-4">Тип учреждения образования: </label>
                    <select class="form-select" id="entityType" name="entityType">
                        <option th:text="'Не выбрано'" th:value="'ANY'"></option>
                        <option th:each="type : ${entityTypes}" th:selected="${type.name() eq #httpServletRequest.getParameter('entityType')}"
                                th:text="${type.name}"
                                th:value="${type}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="region" class="form-label mt-4">Область: </label>
                    <select class="form-select" id="region" name="region">
                        <option th:text="'Не выбрано'" th:value="'ANY'"></option>
                        <option th:each="r : ${regions}" th:selected="${r.name() eq #httpServletRequest.getParameter('region')}" th:text="${r.name}"
                                th:value="${r}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="district" class="form-label mt-4">Район: </label>
                    <select class="form-select" id="district" name="district">
                        <option th:text="'Не выбрано'" th:value="'ANY'"></option>
                        <option th:each="d : ${districts}" th:selected="${d.name() eq #httpServletRequest.getParameter('district')}" th:text="${d.name}"
                                th:value="${d}"></option>
                    </select>
                </div>
            </fieldset>
            <br>
            <button type="submit" class="btn btn-primary">Найти</button>
            <a th:href="@{/rating/education}" class="btn btn-primary" th:text="'Сбросить'"></a>
        </form>
        <br>
        <div th:insert="blocks/table :: entity-table(entities=${entities}, page=${entityPage})"></div>
        <div th:insert="blocks/pagination :: entity-rating-pagination"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>