<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рейтинг - Reviewer</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">Рейтинг</div>
            <div class="two-items">
                <div class="two-items-content">
                    <h4>Рейтинг учреждений образования:</h4>
                    <div class="search" th:insert="blocks/search :: search-entity(value='')"></div>
                    <div class="any-items">
                        <form class="any-items-content" method="get">
                            <label for="entityType">Тип учреждения образования: </label>
                            <select id="entityType" name="entityType">
                                <option th:text="'Не выбрано'" th:value="'ANY'"></option>
                                <option th:each="type : ${entityTypes}" th:selected="${type.name() eq entityType}" th:text="${type.name}"
                                        th:value="${type}"></option>
                            </select><br><br>
                            <label for="region">Область: </label>
                            <select id="region" name="region">
                                <option th:text="'Не выбрано'" th:value="'ANY'"></option>
                                <option th:each="r : ${regions}" th:selected="${r.name() eq region}" th:text="${r.name}"
                                        th:value="${r}"></option>
                            </select><br><br>
                            <label for="district">Район: </label>
                            <select id="district" name="district">
                                <option th:text="'Не выбрано'" th:value="'ANY'"></option>
                                <option th:each="d : ${districts}" th:selected="${d.name() eq district}" th:text="${d.name}"
                                        th:value="${d}"></option>
                            </select><br><br>
                            <button th:text="'Найти'"></button>
                        </form>
                    </div>
                    <div th:insert="blocks/table :: entity-table(entities=${entities}, page=${entityPage})"></div>
                    <div class="pagination" th:each="page : ${#numbers.sequence(1, entityPageAmount)}">
                        <a th:text="${page}" th:href="@{'/rating?entityPage=' + ${page}}"></a>
                    </div>
                </div>
                <div class="two-items-content">
                    <h4>Рейтинг сотрудников:</h4>
                    <div class="search" th:insert="blocks/search :: search-employee(value='')"></div>
                    <div class="any-items">
                        <form class="any-items-content" method="get">
                            <label for="employeeType">Тип сотрудника: </label>
                            <select id="employeeType" name="employeeType">
                                <option th:text="'Не выбрано'" th:value="'ANY'"></option>
                                <option th:each="type : ${employeeTypes}" th:selected="${type.name() eq employeeType}" th:text="${type.name}"
                                        th:value="${type}"></option>
                            </select><br><br>
                            <label for="entity">Учреждение образования: </label>
                            <select id="entity" name="entity">
                                <option th:text="'Не выбрано'" th:value="0"></option>
                                <option th:each="e : ${employeeEntities}" th:selected="${e.id eq entity}" th:text="${e.name}"
                                        th:value="${e.id}"></option>
                            </select><br><br>
                            <button th:text="'Найти'"></button>
                        </form>
                    </div>
                    <div th:insert="blocks/table :: employee-table(employees=${employees}, page=${employeePage})"></div>
                    <div class="pagination" th:each="page : ${#numbers.sequence(1, employeePageAmount)}">
                        <a th:text="${page}" th:href="@{'/rating?employeePage=' + ${page}}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>