<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование сотрудника - Reviewer</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">
                <p th:text="${employee.name}"></p>
            </div>
            <div class="content">
                <img class="employee-page" th:src="@{/images/employee/{imageURL}(imageURL=${employee.imageURL})}">
                <p class="success" th:text="${success}"></p>
                <p class="error" th:text="${error}"></p>
                <p><a th:href="@{/employee/{id}(id=${employee.id})}" th:text="'Перейти к сотруднику'"></a></p>
                <form enctype="multipart/form-data" method="post" th:action="@{/employee/edit/{id}(id=${employee.id})}">
                    <label for="file">Фотография сотрудника (не более 8МБ, .png, .jpeg, .jpg)</label><br>
                    <input type="file" name="file" id="file"><br><br>
                    <label for="name">ФИО сотрудника:</label><br>
                    <input id="name" name="name" placeholder="обязательное поле" required style="width: 300px"
                           th:value="${employee.name}" type="text">
                    <br><br><label for="type">Тип сотрудника:</label><br>
                    <select id="type" name="type">
                        <option th:each="employeeType : ${types}" th:selected="${employeeType eq employee.type}"
                                th:text="${employeeType.name}" th:value="${employeeType}"></option>
                    </select><br>
                    <br><br><label for="entity">Учреждение образования, в котором работает этот
                    сотрудник:</label><br>
                    <select id="entity" name="entity">
                        <option th:each="entity : ${entities}" th:selected="${entity.id eq employee.entity.id}"
                                th:text="${entity.name}" th:value="${entity.id}"></option>
                    </select><br><br>
                    <button>Сохранить</button>
                </form>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>