<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои оценки - Reviewer</title>
</head>
<body>
<div class="container">
    <div th:insert="blocks/header :: header"></div>
    <div class="content">
            <h1>Аккаунт</h1>
            <div class="account">
                <div th:insert="${session.user.isAdmin() || session.user.isModerator()}? ~{blocks/account-menu :: account-menu-admin} : ~{blocks/account-menu :: account-menu-user}"></div>
                <div class="account-content">
                    <p>В этом разделе расположены все Ваши оценки учреждений образования и отзывов других пользователей.
                        Они полностью анонимны и информация об их авторстве доступна только Вам.</p>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#education">Отзывы об учреждениях образования, которые Вам понравились</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#employee">Отзывы о сотрудниках, которые Вам понравились</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show" id="education">
                            <br>
                            <div class="reviews" th:each="review : ${likedEntityReviews}">
                                <div th:insert="blocks/review :: entity-review-with-anchor(r = ${review})"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="employee">
                            <br>
                            <div class="reviews" th:each="review : ${likedEmployeeReviews}">
                                <div th:insert="blocks/review :: employee-review-with-anchor(r = ${review})"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>