<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ошибка - Reviewer</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">Ошибка</div>
            <div class="content">
                <p>Упс. Что-то пошло не так, но мы это исправим. Попробуйте заново :)</p>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>