<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обратная связь - Reviewer</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">
                Обратная связь
            </div>
            <div class="content">
                <p> Если у Вас возникли вопросы или Вы хотите оставить предложения по улучшению качества работы
                    (найденные баги,
                    ошибки пунктуации, устаревшая информация), то Вы можете заполнить эту форму. </p>
                <p> Так же Вы можете указать здесь учреждение образования, которое не было добавлено на сайт. Выберите
                    тему "Новое учреждение образования или сотрудник"</p>
                <p> Чтобы иметь возможность получить ответ, необходимо авторизоваться. </p><br>
                <p> Текст сообщения не должен превышать 1024 символа.</p>
                <b> Если на момент отправки сообщения Вы вошли в аккаунт, то мы будем знать ваш логин. </b><br><br>
                <form id="feedback" method="post" th:action="@{/feedback}">
                    <label for="theme">Тема</label>
                    <select id="theme" name="theme" required>
                        <option th:each="type : ${types}" th:value="${type}" th:text="${type.name}"></option>
                    </select><br><br>
                    <label for="text">Ваше сообщение</label><br>
                    <textarea id="text" name="text" th:text="${text}" required
                              style="width: 90%; height: 150px; resize: none;"></textarea><br><br>
                    <button type="submit">Отправить</button>
                </form>
                <p class="success" th:text="${success}"></p>
                <p class="error" th:text="${error}"></p>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>