<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Reviewer - отзывы об учреждениях образования Беларуси</title>
</head>
<body>
<div class=container>
    <div th:insert="blocks/header :: header"></div>
            <div class="content">
                <p> Reviewer - веб-сервис для просмотра и добавления отзывов об учреждениях образования
                    Беларуси. </p>
                <p> Выбрать правильное место учебы - важный шаг. Наши отзывы подтверждены
                    документами. </p>
                <h5>На сайт уже добавлены:</h5>
                <ul>
                    <li th:text="${entityAmount} + ' учреждений образования'"></li>
                    <li th:text="${employeeAmount} + ' сотрудников'"></li>
                    <li th:text="${entityReviewAmount} + ' отзывов об учреждениях образования'"></li>
                    <li th:text="${employeeReviewAmount} + ' отзывов о сотрудниках'"></li>
                </ul>
                <b> Вот тут появится кликабельная карта всех УО</b>
                <b> Еще тут появится виджет с самыми популярными уо и сотрудниками</b>
                <p> Для взаимодействия с сервисом необходимо <a class="btn btn-link"
                                                                th:href="@{/login}">авторизоваться</a>
                    или <a class="btn btn-link" th:href="@{/register}">зарегистрироваться</a></p>
            </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>