<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviewer - отзывы об учреждениях образования Беларуси</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class=container>
    <div class="page">
        <div class="body">
            <div class="content">
                <p class="content"> Reviewer - веб-сервис для просмотра и добавления отзывов об учреждениях образования
                    Беларуси. </p>
                <p class="content"> Выбрать правильное место учебы - важный шаг. Наши отзывы подтверждены документами. </p>
                <p class="content"> Для взаимодействия с сервисом необходимо <a href="/login"> авторизоваться </a> или <a href="/register"> зарегистрироваться</a> . </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>