<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация аккаунта - Reviewer</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">
                Регистрация аккаунта
            </div>
            <div class="content">
                <form id="register" method="post" th:action="@{/register}">
                    <label for="name">Имя (используйте настоящее, необходимо для подтверждения документов)</label><br>
                    <input id="name" name="name" placeholder="обязательное поле" required th:value="*{name}"
                           type="text">
                    <br><br><label for="login">Логин</label><br>
                    <input id="login" name="login" placeholder="обязательное поле" required th:value="*{login}"
                           type="text">
                    <br><br><label for="password">Пароль</label><br>
                    <input id="password" name="password" placeholder="обязательное поле" required type="password">
                    <br><br><label for="passwordConfirmation">Подтверждение пароля</label><br>
                    <input id="passwordConfirmation" name="passwordConfirmation" placeholder="обязательное поле"
                           required
                           type="password">
                    <br><br><input id="agreement" name="agreement" required type="checkbox">
                    <label for="agreement">Согласен с <a th:href="@{/rules}"> Правилами пользования сайтом
                        Reviewer </a></label><br>
                    <input type="submit" value="Зарегистрироваться">
                </form>
                <p class="error" th:text="${error}"></p>
                <h4> Уже есть аккаунт? <a th:href="@{/login}"> Войти </a></h4>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>