<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Правила пользования сайтом - Reviewer</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div th:insert="blocks/header :: header"></div>
    <div class="page">
        <div class="body">
            <div class="page-name">
                Правила пользования сайтом
            </div>
            <div class="content">
                <h2>1. Основные положения</h2>
                <p>Сайт Reviewer создан исключительно в информационных целях, не имеет цели оскорбить или опорочить
                    честь учреждения образования, а так же их сотрудников.</p>
                <h2>2. Конфиденциальность</h2>
                <p>Имя, указываемое при регистрации аккаунта используется лишь в целях общения администрации сайта с
                    пользователем и подтверждением документов и нигде не публикуется публично.</p>
                <p>Информация об авторстве отзывов доступна лишь авторам этих отзывов.</p>
                <p>Ни один другой пользователь не найдет информацию о других пользователях, которая может нарушить их
                    анонимность.</p>
                <p>Отзывы об учреждениях образования могут публиковать только учащиеся/выпускники и сотрудники/бывшие
                    сотрудники этого учреждения образования. Данная возможность подтверждается документами, которые
                    пользователь загружает на сайт и которые проверяются администрацией.</p>
                <p>После подтверждения документы удаляются с сервера, а пользователь получает роль.</p>
                <h2>3. Объективность</h2>
                <p>Все отзывы, порочащие честь и достоинство учреждения образования и/или его представителей написаны
                    авторами этих отзывов.</p>
                <p>Если Вы считаете отзыв неуместным, то можете пожаловаться на него с помощью соответствующей кнопки, и
                    после проверки он будет удален.</p>
                <p>Отзывы пишутся пользователями, которые могли взаимодействовать с этим сотрудником или учреждением
                    образования, за их правильность и соответствие действительности отвечает лишь автор отзыва.</p>
                <p>Вы можете повлиять на отзыв путем голосования "за" него.</p>
                <p>Мы не поддерживаем оскорбления в любом виде. Отзывы должны быть адекватными и разумными.</p>
                <p>Отзывы, содержащие ненормативную лексику и/или написанные с целью оскорбления учреждения образования
                    и/или его сотрудников,
                    будут удаляться в кратчайшие сроки, а их авторы получать предупреждения, с последующей
                    блокировкой.</p>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>