<div th:fragment="account-menu-admin">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/account}">Назад в аккаунт</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:classappend="${#httpServletRequest.requestURI.endsWith('blocked-reviews')} ? 'active'"
               th:href="@{/account/admin/blocked-reviews}">Заблокированные отзывы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('add-user')} ? 'active'"
               th:href="@{/account/admin/add-user}"> Создать пользователя </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('edit-user')} ? 'active'"
               th:href="@{/account/admin/edit-user}"> Изменить пользователя </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:classappend="${#httpServletRequest.requestURI.endsWith('add-role-to-user')} ? 'active'"
               th:href="@{/account/admin/add-role-to-user}"> Добавить роль пользователю </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('blocked-users')} ? 'active'"
               th:href="@{/account/admin/blocked-users}"> Заблокированные пользователи </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('add-entity')} ? 'active'"
               th:href="@{/account/admin/add-entity}"> Создать УО </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('blocked-entities')} ? 'active'"
               th:href="@{/account/admin/blocked-entities}"> Заблокированные УО </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('add-employee')} ? 'active'"
               th:href="@{/account/admin/add-employee}"> Создать сотрудника </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('blocked-employees')} ? 'active'"
               th:href="@{/account/admin/blocked-employees}"> Заблокированные сотрудники </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('verify')} ? 'active'"
               th:href="@{/account/admin/verify}"> Подтверждение документов </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('feedback')} ? 'active'"
               th:href="@{/account/admin/feedback}"> Обратная связь </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('statistics')} ? 'active'"
               th:href="@{/account/admin/statistics}"> Статистика Reviewer </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('settings')} ? 'active'"
               th:href="@{/account/admin/settings}"> Настройки Reviewer </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.endsWith('logout')} ? 'active'"
               th:href="@{/logout}"> Выйти </a>
        </li>
    </ul>
</div>