<div th:fragment="account-menu-moderator">
    <div class="account-menu">
        <ul class="account-menu">
            <li><a class="account-menu" th:href="@{/account}"> Назад в Аккаунт </a></li>
            <!--            <li><a class="account-menu" th:href="@{/account/admin/blocked-reviews}"> Заблокированные отзывы </a>-->
            <li><a class="account-menu" th:href="@{/account/admin/add-role-to-user}"> Добавить роль пользователю </a>
            </li>
            <li><a class="account-menu" th:href="@{/account/admin/add-entity}"> Создать УО </a></li>
            <li><a class="account-menu" th:href="@{/account/admin/blocked-entities}"> Заблокированные УО </a></li>
            <li><a class="account-menu" th:href="@{/account/admin/add-employee}"> Создать сотрудника </a></li>
            <li><a class="account-menu" th:href="@{/account/admin/blocked-employees}"> Заблокированные сотрудники </a>
            </li>
            <li><a class="account-menu" th:href="@{/account/admin/verify}"> Подтверждение документов </a></li>
            <li><a class="account-menu" th:href="@{/account/admin/feedback}"> Обратная связь </a></li>
            <li><a class="account-menu" th:href="@{/account/admin/statistics}"> Статистика Reviewer </a></li>
            <li><a class="account-menu" th:href="@{/logout}"> Выйти </a></li>
        </ul>
    </div>
</div>