<div class="review" th:fragment="entity-review(r)" xmlns:th="http://www.w3.org/1999/html">
    <p>"<span th:text="${r.text}"></span>"</p>
    <div>
        <b>Отзыв оставлен: </b><span th:text="${r.reviewDate}"></span><br>
        <b>Отзыв оставил: </b><span th:text="${r.authorRole.name}"></span><br>
        <b>Оценка: </b><span th:text="${r.mark}"></span><br>
        <b>Отзыв поддержали: </b><span th:text="${r.rating} + ' человек'"></span>
    </div>
</div>

<div class="review" th:fragment="entity-review-with-anchor(r)">
    <p>"<span th:text="${r.text}"></span>"</p>
    <a th:name="${r.id}"></a>
    <div>
        <b>Отзыв оставлен: </b><span th:text="${r.reviewDate}"></span><br>
        <b>Отзыв оставил: </b><span th:text="${r.authorRole.name}"></span><br>
        <b>Оценка: </b><span th:text="${r.mark}"></span><br>
        <b>Отзыв поддержали: </b><span th:text="${r.rating} + ' человек'"></span>
    </div>
    <p><a th:href="@{/entity/{id}(id=${r.entity.id})}" th:text="'Перейти к учреждению образования'"></a></p>
</div>

<div class="review" th:fragment="employee-review(r)">
    <p>"<span th:text="${r.text}"></span>"</p>
    <div>
        <b>Отзыв оставлен: </b><span th:text="${r.reviewDate}"></span><br>
        <b>Отзыв оставил: </b><span th:text="${r.authorRole.name}"></span><br>
        <b>Оценка: </b><span th:text="${r.mark}"></span><br>
        <b>Отзыв поддержали: </b><span th:text="${r.rating} + ' человек'"></span>
    </div>
</div>

<div class="review" th:fragment="employee-review-with-anchor(r)">
    <p>"<span th:text="${r.text}"></span>"</p>
    <div>
        <b>Отзыв оставлен: </b><span th:text="${r.reviewDate}"></span><br>
        <b>Отзыв оставил: </b><span th:text="${r.authorRole.name}"></span><br>
        <b>Оценка: </b><span th:text="${r.mark}"></span><br>
        <b>Отзыв поддержали: </b><span th:text="${r.rating} + ' человек'"></span>
    </div>
    <p><a th:href="@{/employee/{id}(id=${r.employee.id})}" th:text="'Перейти к сотруднику'"></a></p>
</div>

<div class="review-form" th:fragment="left-entity-review(e, roles)">
    <form method="post" th:action="@{/entity/left-review/{id}(id = ${e.id})}">
        <label for="text">Ваш отзыв (не более 1024 символов):</label><br>
        <textarea id="text" name="text" style="width: 90%; height: 150px; resize: none;"></textarea><br><br>
        <label for="role">От лица кого Вы оставляете отзыв:</label><br>
        <select id="role" name="role">
            <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role}"></option>
        </select><br><br>
        <label for="mark">Ваша оценка:</label><br>
        <select id="mark" name="mark">
            <option selected value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select><br><br>
        <button>Отправить</button>
    </form>
</div>

<div class="review-form" th:fragment="left-employee-review(e, roles)">
    <form method="post" th:action="@{/employee/left-review/{id}(id = ${e.id})}">
        <label for="text2">Ваш отзыв (не более 1024 символов):</label><br>
        <textarea id="text2" name="text" style="width: 90%; height: 150px; resize: none;"></textarea><br><br>
        <label for="role2">От лица кого Вы оставляете отзыв:</label><br>
        <select id="role2" name="role">
            <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role}"></option>
        </select><br><br>
        <label for="mark2">Ваша оценка:</label><br>
        <select id="mark2" name="mark">
            <option selected value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select><br><br>
        <button>Отправить</button>
    </form>
</div>