<div class="search" th:fragment="search">
    <form method="get" name="searchEntity" th:action="@{/search/education}">
        <label for="entityQuery">Поиск учреждения образования:</label><br>
        <input id="entityQuery" name="query" required type="text">
        <button type="submit">Найти</button>
    </form>
    <form method="get" name="searchEmployee" style="margin-top: 10px; margin-bottom: 10px"
          th:action="@{/search/employees}">
        <label for="employeeQuery">Поиск сотрудника:</label><br>
        <input id="employeeQuery" name="query" required type="text">
        <button type="submit">Найти</button>
    </form>
</div>